.masthead-heading {
    text-shadow: 2px 2px 4px #4D0D07;
    font-family: 'Bebas Neue', ;

}

.masthead-subheading {
    font-family: 'Bebas Neue' , ;
    text-shadow: 2px 2px 4px #4D0D07;
}

.btn-primary {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
}